header {
  background-color: rgb(194, 194, 194);
  border: 5px solid black;
}

.big {
  font-size: xx-large;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.low {
  background-color: greenyellow;
}

.med {
  background-color: orange;
}

.high {
  background-color: red;
}

.mainBox {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid black;
}

.citiesBox {
  background-color: rgb(194, 194, 194);
  border: 5px solid black;
}

.dayBox {
  justify-content: flex-start;
  border: 3px solid black;
  flex: 3 0 100px;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  min-width: 1600px;
}

.weekBox {
  justify-content: space-between;
  border: 3px solid black;
  flex: 1 0 100px;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}
